.fundo{
    position: relative;
    width: 100%;
    height: 650px;
    background-image: url(./imagens/grand_canyon.jpeg);
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
}